# Flutter
.dart_tool/
.buildlog/
.pub/
.packages
.idea/
.vscode/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
generated_plugin_registrant.dart

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/

# Android
.gradle/
android/.gradle/
android/app/build/
android/local.properties

# APK / IPA / binaries
*.apk
*.ipa

# Misc
*.log
*.lock
*.tmp
